@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.section-1 {
    width: 100%;
    height: 100vh;
    background-image: url(/images/bacgroundimg.jpg);
    background-position: center;
    background-size: cover;
    padding: 64px 88px;

    p {
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-top: 180px;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navigation {
        display: flex;
        gap: 56px;
        align-items: center;
        
        a {
            color: #FCFCFC;
            text-decoration: none;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
        }
    }

    .icons {
        display: flex;
        gap: 24px;
    }
}